<div>
    <br/>
    I'm a child compoment!
    <br />
    My parent title is: <b>@ParentsTitle</b>
    <br/>
    <button @onclick="UpdateParentsTitle">Update parents Title</button>
</div>

@code {

    [Parameter] 
    public string ParentsTitle { get; set; }

    [Parameter] 
    public EventCallback<string> ParentsTitleChanged { get; set; }

    private async Task UpdateParentsTitle()
    {
        ParentsTitle = "Hello, From Child Component!";
        await ParentsTitleChanged.InvokeAsync(ParentsTitle);
    }
}