
@page  "/fluentformvalidation"
@using BlazorOverviewShared.Pages.User


<h3>FluentFormValidation</h3>
<br/>


<EditForm Model="@user" OnValidSubmit="HandleValidSubmit">

    <FluentValidationValidator />
    <ValidationSummary />

    <span>Name:</span>
    <br />
    <InputText id="name" @bind-Value="@user.Name" /><br />
    <br />
    <span>Lastname:</span>
    <br />
    <InputText id="lastname" @bind-Value="@user.LastName" /><br />
    <br />
    <span>Level:</span>
    <br />
    <InputNumber id="level" @bind-Value="@user.Level"></InputNumber><br />
    <br />

    <button type="submit">Submit</button>
</EditForm>


@code {

    private UserModel user = new UserModel();

    private void HandleValidSubmit()
    {
        Console.WriteLine("OnValidSubmit");
    }
}
